<nb-layout>
  <nb-layout-header fixed>
    <inverso-header [position]="(sidebar?.id === 'left' ? 'normal': 'inverse')"></inverso-header>
    <!-- <inverso-header ></inverso-header> -->
  </nb-layout-header>

  <!-- sidebar -->
  <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive [right]="sidebar?.id === 'right'">

    <!-- header -->
    <!-- <nb-sidebar-header>
      <inverso-sidebar-header></inverso-sidebar-header>
    </nb-sidebar-header> -->

    <!-- body -->
    <inverso-sidebar-content></inverso-sidebar-content>

    <!-- footer -->
    <nb-sidebar-footer fixed [ngStyle]="{'text-align': 'center'}">
      <inverso-sidebar-footer></inverso-sidebar-footer>
    </nb-sidebar-footer>

  </nb-sidebar>


  <nb-layout-column>
    <router-outlet></router-outlet>
    <!-- <inverso-identity-iasd-logo [position]="sidebar?.id"></inverso-identity-iasd-logo> -->
  </nb-layout-column>

  <!-- sidebar right -->
  <!-- <nb-sidebar class="right-sidebar" responsive tag="right-sidebar" [end]="true">
  </nb-sidebar> -->
</nb-layout>