<nb-card [nbSpinner]="loadingSpinnerSave" nbSpinnerStatus="primary" status="primary">
  <nb-card-header>
    <div class="text-center">
      <span i18n>
        NUEVO INGRESO |
      </span>
      <span class="font-weight-light" i18n>
        Movimientos de almacenes de tipo ingreso.
      </span>
    </div>
    <div>
      <nb-icon icon="close-outline" (click)="onClose()" style="cursor: pointer"></nb-icon>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="newForm">

      <div class="row">
        <div class="col-md-6 mb-1">
          <label for="tipo_operacion_id" class="label form-label">Tipo movimiento</label>
          <nb-select placeholder="Seleccionar almacén" fullWidth [size]="'small'" formControlName="tipo_movimiento"
            id="tipo_operacion_id">
            <nb-option value="-1">-Seleccione-</nb-option>
            <nb-option *ngFor="let item of tipoMovimientos" [value]="item.codigo"> {{ item.label }} </nb-option>
          </nb-select>
        </div>
        <div class="col-md-6 mb-1">
          <label for="almacen_id" class="label form-label">Almacén</label>
          <nb-select placeholder="Seleccionar almacén" fullWidth [size]="'small'" formControlName="almacen_id"
            id="almacen_id">
            <nb-option value="-1">-Seleccione-</nb-option>
            <nb-option *ngFor="let item of misAlmacenes" [value]="item.almacen_id"> {{ item.almacen_nombre }} </nb-option>
          </nb-select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-1">
          <label for="tipo_operacion_id" class="label form-label">Tipo operación</label>
          <nb-select placeholder="Seleccionar almacén" fullWidth [size]="'small'" formControlName="tipo_operacion_id"
            id="tipo_operacion_id">
            <nb-option value="-1">-Seleccione-</nb-option>
            <nb-option *ngFor="let item of tipoOperacions" [value]="item.tipo_operacion_id"> {{ item.tipo_operacion_id }}-{{ item.nombre }} ({{ item.tipo_movimiento }}) </nb-option>
          </nb-select>
        </div>
        <div class="col-md-6 mb-1">
          <label for="fecha" class="label required">Fecha</label>
          <nb-form-field>
            <input type="text" autocomplete="off" name="fecha" placeholder="00/00/0000" id="fecha"
              formControlName="fecha" [nbDatepicker]="nfecha2" fullWidth fieldSize="small" nbInput>
            <nb-icon nbSuffix icon="calendar-outline" pack="eva"></nb-icon>
          </nb-form-field>
          <nb-datepicker #nfecha2></nb-datepicker>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mb-1">
          <label for="detalle" class="label required">Detalle</label>
          <input type="text" name="detalle" id="detalle" formControlName="detalle" fullWidth fieldSize="small" nbInput>
        </div>
      </div>

    </form>

  </nb-card-body>
  <nb-card-footer class="text-end">
    <button nbButton class="me-1" status="basic" size="small" (click)="onClose()">
      <nb-icon icon="close-outline"></nb-icon>
      Cancelar
    </button>

    <button nbButton class="me-1" status="primary" size="small" (click)="onSave()">
      <nb-icon icon="save-outline"></nb-icon>
      Guardar
    </button>

  </nb-card-footer>
</nb-card>