<nb-card [nbSpinner]="loadingSpinnerSave" nbSpinnerStatus="primary" status="primary">
  <nb-card-body>
    <form [formGroup]="almacenForm">
      <!-- <div class="row">
        <div class="col-md-6">
          <div class="mb-2">
            <label for="empresa_id" class="label required">Empresa</label>
            <nb-select placeholder="Empresa" size="small" formControlName="empresa_id" fullWidth name="empresa_id"
              id="empresa_id">
              <nb-option value="">-Seleccione-</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-2">
            <label for="empresa_sucursal_id" class="label required">Sucursal</label>
            <nb-select placeholder="Empresa" size="small" formControlName="empresa_sucursal_id" fullWidth
              name="empresa_sucursal_id" id="empresa_sucursal_id">
              <nb-option value="">-Seleccione-</nb-option>
            </nb-select>
          </div>
        </div>
      </div> -->

      <div class="mb-2">
        <label for="tipo_existencia_id" class="label required">Tipo de existencia</label>
        <nb-select placeholder="Tipo de existencia" size="small" formControlName="tipo_existencia_id" fullWidth
          name="tipo_existencia_id" id="tipo_existencia_id">
          <nb-option value="">-Seleccione-</nb-option>
          <nb-option *ngFor="let item of tipoExistencias" [value]="item.tipo_existencia_id">{{ item.codigo
            }} -
            {{
            item.nombre }}</nb-option>
        </nb-select>
      </div>
      <div class="mb-2">
        <label for="nombre" class="label required">Nombre</label>
        <input type="text" nbInput fullWidth fieldSize="small" name="nombre" id="nombre" formControlName="nombre"
          placeholder="">
      </div>
      <div class="mb-2">
        <label for="activo" class="label">Activo</label>
        <nb-radio-group formControlName="activo" status="warning">
          <nb-radio [value]="true">Si</nb-radio>
          <nb-radio [value]="false">No</nb-radio>
        </nb-radio-group>
      </div>


    </form>

  </nb-card-body>
  <nb-card-footer class="text-end open-button-end">
    <button nbButton status="primary" size="small" (click)="onSave()" [disabled]="almacenForm.invalid">
      <nb-icon icon="save-outline"></nb-icon>
      Guardar
    </button>
  </nb-card-footer>
</nb-card>