@import 'themes';

@include nb-install-component() {

  nb-card-header{
    display: flex;
    justify-content: space-between;
  }
  .propietario {
    border-left: 4px nb-theme(color-secondary-300) solid !important;;
    padding-left: 0.5rem;
  }

}
::ng-deep nb-dialog-container {
  width: 35rem;
  .col-md-6 {
    padding-right: 0.2rem;
    padding-left: 0.2rem;
  }
}