@import 'themes';

@include nb-install-component() {

::ng-deep nb-select .select-button {
    min-width: initial !important;
  }
}

.caja-item {
  cursor: pointer;
  border-left: 3px solid #ffffff;
}
.caja-item:hover {
  background: #f5f5f5;
}
.caja-item.active {
  background: #e3f2fd;
  border-left: 3px solid #0d6efd;
}
