<div class="header-container">
    <div class="logo-container">
        <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
            <nb-icon icon="menu-2-outline" status="basic"></nb-icon>
        </a>
        <div class="logo" (click)="goToShellApp()">
            In<strong>Store</strong>
            <!-- <img class="black-and-white" src="assets/logos/vopen-logo.png" alt="Open"> -->
            <!-- <img class="black-and-white" src="assets/logos/iasd-logo-black-and-white.svg" alt="Open"> -->
            <!-- <img class="full-color" src="assets/logos/lamb-logo-full-color.svg" alt="Lamb fc"> -->
        </div>
    </div>
    <nb-actions size="small">
        <nb-action class="control-item">
            <!-- <div>
                <nb-icon icon="pin-outline"></nb-icon>&nbsp;
            </div> -->
            <div>
                <span>{{empresaConfig?.id_empresa}} - {{ empresaConfig?.id_empresa_ruc }} - {{empresaConfig?.empresa_nombre}}</span> <br>
                <span>{{empresaConfig?.id_empresa_sucursal}} - {{empresaConfig?.empresa_sucursal_nombre}}</span>
            </div>
        </nb-action>
    </nb-actions>
</div>

<div class="header-container">
    <nb-actions size="small">

        <!-- <nb-action class="user-action" *nbIsGranted="['view', 'user']"> -->
        <nb-action class="user-action">
            <nb-user [nbContextMenu]="userMenu" [onlyPicture]="userPictureOnly" nbContextMenuTag="context-menu-profile"
                [name]="user.name" [title]="user.email" [picture]="user.img_url"></nb-user>
        </nb-action>

        <!-- <nb-action class="control-item">
            <div class="navigation-end" (click)="onLogout()">
                <nb-icon icon="power-outline"></nb-icon>
            </div>
        </nb-action> -->

    </nb-actions>
</div>