@import 'themes';

nb-radio-group {
    display: flex;
}

// nb-card-header{
//     display: flex;
//     justify-content: space-between;
// }

::ng-deep nb-dialog-container {
    width: 60rem !important;
}


.card-selectable {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.card-selectable:hover {
    background-color: #f8f9fa;
    /* sombreado al pasar */
    border: 1px solid nb-theme(color-primary-500) !important;
    /* sombreado al pasar */
}

.card-selectable.selected {
    border: 1px solid nb-theme(color-primary-500) !important;
    /* sombreado al pasar */
    // border: 2px solid #0d6efd; /* borde azul al seleccionar */
    background-color: #eef5ff;
    /* opcional: resaltar fondo */
}

.label-group {
    color: nb-theme(color-primary-500);
}