
<div style="display: flex;justify-content: space-between;">
    <!-- <img class="black" src="assets/logos/iasd-logo-black.svg" alt="IASD">
    <img class="black-and-white" src="assets/logos/iasd-logo-white.svg" alt="IASD"> -->
    <div class="info-version text-start label" style="line-height: 0.8rem;">
        <div>
            &copy; {{year}} <span class="dev-team">-{{ devTeam }}</span>
        </div>
        <a routerLink="lamb" class="label" title="Mostrar registro de cambios">
            <nb-icon icon="paper-plane-outline"></nb-icon>
            v{{ version }}
            <span *ngIf="!isProd">{{ envName }}</span>
        </a>
    </div>
</div>
