// @import 'themes';
// @include nb-install-component() {
//   .lamb-icon {
//     margin-right: 6px;
//   }

//   .lamb-option {
//     pointer-events: none;
//     text-transform: uppercase;
//   }
//   .lamb-option-child {
//     margin-left: 5px;
//   }
// }

// .lamb-icon {
//   margin-right: 6px;
// }



// .lamb-group-buttons {
//   float: right;
// }

// /** Styles Entity childs */
// .lamb-option {
//   pointer-events: none;
//   text-transform: uppercase;
// }

// .lamb-option-child {
//   margin-left: 5px;
// }

// /** validate forms */
// /*.ng-valid[required], .ng-valid.required  {*/


