<nb-card>
  <nb-card-header>
    <div class="text-center">
      <span i18n>
        LISTA |
      </span>
      <span class="font-weight-light" i18n>
        Lista de almacenes
      </span>
    </div>
    <div>
      <!-- <nb-icon icon="calendar-outline"></nb-icon>
      {{ today }} -->
    </div>
  </nb-card-header>
  <nb-card-body>
    <form (ngSubmit)="submitFormSearch()">

      <!-- <div class="container"> -->
      <div class="row">
        <div class="col-md-8">
          <nb-form-field>
            <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
            <input [formControl]="textSearch" type="search" placeholder="Buscar..." nbInput fullWidth shape="round"
              fieldSize="small">
          </nb-form-field>
        </div>
        <div class="col-md-4 open-button-end">
          <button nbButton type="submit" status="primary" size="small">
            <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
            Buscar
          </button>
          <button nbButton type="button" status="primary" size="small" (click)="onRegistrarNuevo()">
            <nb-icon icon="plus-outline"></nb-icon>
            Agregar
          </button>
        </div>
      </div>
    </form>

    <br>
    <div class="row" [nbSpinner]="loadingSpinner" nbSpinnerStatus="primary">
      <div class="col-md-12">
        <table class="table table-sm">
          <tbody *ngIf="almacenes.length > 0; else emptyList">
            <tr *ngFor="let item of almacenes | paginate: { id: 'almacenesPaginate',
            itemsPerPage: pagination?.pageSize,
            currentPage: pagination?.currentPage,
            totalItems: pagination?.totalItems}">
              <td class="align-middle text-center">
                <nb-icon status="primary" icon="layout-outline"></nb-icon>
              </td>
              <td>
                <div class="fw-bold">
                  {{item.nombre}}
                </div>
                <div>
                  <span class="label">Tipo existencia: {{ item.tipo_existencia_codigo }}-{{ item.tipo_existencia_nombre
                    }}
                  </span>
                </div>
              </td>
              <td>
                <div class="label">{{item.id_empresa}} - {{item.empresa_nombre}}</div>
                <div class="label">{{item.id_empresa_sucursal}} - {{item.empresa_sucursal_nombre}}</div>
              </td>
              <td>
                <button nbButton style="pointer-events: none!important; background-color: inherit" *ngIf="item.activo"
                  status="basic" size="tiny" shape="round">
                  <nb-icon status="primary" icon="done-all-outline"></nb-icon>
                  Activo
                </button>

                <button nbButton style="pointer-events: none!important; background-color: inherit" *ngIf="!item.activo"
                  status="basic" size="tiny" shape="round">
                  Desactivo
                </button>
              </td>
              <td>
                <button nbButton status="primary" size="small" nbTooltip="Configuración"
                  (click)="onManageAlmacen(item)">
                  <nb-icon icon="settings-outline"></nb-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <ng-template #emptyList>
      <div class="text-center">
        <span i18n class="text-center label">
          No hay registros para mostrar
        </span>
      </div>
    </ng-template>

    <!-- <div class="row" *ngIf="almacenes.length > 0; else emptySpace">
      <div class="col-md-12" *ngFor="let user of almacenes | paginate: { id: 'almacenesPaginate',
      itemsPerPage: pagination?.pageSize,
      currentPage: pagination?.currentPage,
      totalItems: pagination?.totalItems}">
        <nb-user [picture]="user.img_url" [name]="user.name" [title]="user.email">
        </nb-user>
      </div>
    </div>
    <ng-template #emptySpace>
      <br>
      <div class="text-center">
        <label class="label"> No hay registros para mostrar.</label>
      </div>
    </ng-template> -->

    <div class="row">
      <div class="col-md-12">
        <nb-card>
          <nb-card-body class="text-center">
            <pagination-controls class="lamb-pagination" id="almacenesPaginate" (pageChange)="pageChanged($event)"
              (pageBoundsCorrection)="pageChanged($event)" [maxSize]="paginationControls.maxSize"
              [directionLinks]="paginationControls.directionLinks" [responsive]="paginationControls.responsive"
              previousLabel="ANTERIOR" nextLabel="SIGUIENTE" [autoHide]="paginationControls.autoHide"
              screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
              screenReaderCurrentLabel="Estás en la página">
            </pagination-controls>
          </nb-card-body>
        </nb-card>
      </div>
    </div>

    <!--
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th>N</th>
                <th>Nombre</th>
                <th>E-mail</th>
                <th class="text-center">Creado en</th>
                <th class="text-center">Confirmado por E-mail</th>
                <th class="text-center">Acciones</th>
              </tr>
            </thead>
            <tbody *ngIf="almacenes.length > 0; else emptySpace" [nbSpinner]="loadingSpinner" nbSpinnerStatus="info">
              <tr *ngFor="let item of almacenes; let i=index">
                <th>{{ (i+1) }}</th>
                <td>
                  <span class="fa fa-user"></span>
                  <nb-icon icon="person-outline" status="primary"></nb-icon>
                  {{ item.name }}
                </td>
                <td>
                  <nb-icon icon="email-outline" status="primary"></nb-icon>
                  {{ item.email }}
                </td>
                <td class="text-center">
                  {{ item.created_at }}
                </td>
                <td class="text-center">
                  <span *ngIf="item.activo === 1; else desactivo">
                    <nb-icon icon="checkmark-outline" status="success"></nb-icon>
                    Confirmado
                  </span>
                  <ng-template #desactivo>
                    <span>
                      <nb-icon icon="slash-outline" status="danger"></nb-icon>
                      No Confirmado
                    </span>
                  </ng-template>
                </td>
                <td class="text-center open-button-end">

                  <button nbButton status="basic" size="tiny" nbTooltip="Administración de jerarquía"
                    (click)="onManageJerarquia(item.id)">
                    <nb-icon icon="grid-outline"></nb-icon>
                    Jerarquía
                  </button>

                  <button nbButton status="basic" size="tiny" nbTooltip="Administración de roles"
                    (click)="onManageRols(item.id, item.name)">
                    <nb-icon icon="people-outline"></nb-icon>
                    Roles
                  </button>

                  <button nbButton status="basic" size="tiny" nbTooltip="Editar usuario"
                    (click)="onEditar(item.id, item.name)">
                    <nb-icon icon="edit-outline"></nb-icon>
                    Editar
                  </button>

                  <button nbButton status="basic" size="tiny" nbTooltip="Eliminar usuario" (click)="onDelete(item.id)">
                    <nb-icon icon="trash-outline"></nb-icon>
                    Eliminar
                  </button>
                </td>
              </tr>
            </tbody>
            <ng-template #emptySpace>
              <tbody [nbSpinner]="loadingSpinner" nbSpinnerStatus="info">
                <tr>
                  <td colspan="6" class="text-center">Sin resultados</td>
                </tr>
              </tbody>
            </ng-template>
          </table>
        </div>
      </div>
    </div>

  -->
  </nb-card-body>
</nb-card>