@import 'themes';

nb-radio-group {
    display: flex;
}
nb-card-header{
    display: flex;
    justify-content: space-between;
}

::ng-deep nb-dialog-container {
    width: 60rem !important;
}

.label-group {
    color: nb-theme(color-primary-500);
}