<nb-card>
  <nb-card-header>
    <div class="lh-sm">
      <table>
        <tr>
          <td>
            <button nbButton size="small" (click)="onBack()">
              <nb-icon icon="arrow-back-outline"></nb-icon>
            </button>
          </td>
          <!-- <td>
            <nb-icon status="primary" style="font-size: 1.6rem;" icon="settings-outline" pack="eva"></nb-icon> &nbsp;
          </td> -->
          <td class="border-start ps-2">
            <div>
              <span i18n>
                BENEFICIADOS
              </span>
            </div>
            <div class="fw-light">Asignación de precios a los artículos de venta</div>
          </td>
        </tr>
      </table>
    </div>
  </nb-card-header>
  <nb-card-body>
   
  </nb-card-body>
</nb-card>