@import '@nebular/theme/styles/theming';
@import '@nebular/theme/styles/themes/default';
// @import '@nebular/theme/styles/themes/dark';

$nb-themes: nb-register-theme(( // layout-padding: 2.25rem 2.25rem 0.75rem,
            layout-padding: 0.75rem 0.75rem 0.75rem,
            // text-subtitle-font-size: 0.9375rem,
            text-subtitle-font-size: 0.8375rem,
            // card-padding: 1rem 1.25rem,
            card-padding: 0.7rem 0.95rem,
            // button-filled-tiny-padding: 0.25rem 0.625rem,
            // button-filled-tiny-padding: 0.15rem 0.325rem, // modificaado achora
            // button-filled-tiny-padding: 0.25rem 0.625rem,
            // button-outline-tiny-padding: 0.15rem 0.325rem, // modificaado achora

            // tabset-tab-padding: 1rem 2rem,
            // // // // tabset-tab-padding: 0.5rem 1rem,
            // // // // tabset-content-padding: 1rem 1rem,
            // // // // tabset-content-background-color: layout-background-color,
            // text-button-medium-font-size: 0.875rem,
            // text-button-medium-font-size: 0.775rem, // modificaado achora

            color-primary-100: #5a7fc2,
            color-primary-200: #406bb5,
            color-primary-300: #2856a8,
            color-primary-400: #16439b,
            color-primary-500: #0d3285,
            color-primary-600: #0b2b73,
            color-primary-700: #092462,
            color-primary-800: #061b4d,
            color-primary-900: #040f33,

            // header-background-color: color-primary-500,
            // header-height: 4rem,
            header-text-color: #ffffff,
            list-item-padding: 0.7rem,
            card-border-width: 0rem,
            context-menu-text-align: left,

            header-background-color: color-primary-700,
        ), default, default);