<nb-card [nbSpinner]="loadingSpinner" nbSpinnerStatus="primary" status="primary">
  <nb-card-body>
    <div></div>
    <form [formGroup]="filterForm" (ngSubmit)="submitFormSearch()">
      <div class="row mb-2">
        <!-- <div class="col-md-3">
          <div class="mb-2">
            <label for="id_anho" class="label required">Año</label>
            <nb-select placeholder="Año" size="small" formControlName="id_anho" fullWidth name="id_anho" id="id_anho">
              <nb-option value="">-Seleccione-</nb-option>
              <nb-option *ngFor="let item of anhos" [value]="item.id_anho"> {{ item.id_anho }} </nb-option>
            </nb-select>
          </div>
        </div> -->
        <div class="col-md-6">
          <label for="id_anho" class="label form-label">Documentos internos para los movimientos de inventario</label>
          <nb-form-field>
            <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
            <input formControlName="text_search" type="search" placeholder="Buscar..." nbInput fullWidth shape="round"
              fieldSize="small">
          </nb-form-field>
        </div>
        <div class="col-md-3">
          <label class="label form-label" style="visibility: hidden;">.</label>
          <div>
            <button nbButton class="me-1" type="submit" status="primary" size="small">
              <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
              Buscar
            </button>
            <button nbButton class="me-1" type="button" status="primary" size="small" (click)="onRegistrarNuevo()">
              <nb-icon icon="plus-outline"></nb-icon>
              Agregar
            </button>
          </div>
        </div>
      </div>
    </form>
    <table class="table table-sm mt-1">
      <thead>
        <tr>
          <th style="width: 2rem;">N</th>
          <th>DOCUMENTO</th>
          <th>TIPO OPERACIÓN</th>
          <!-- <th>USUARIO ACCESADOR</th> -->
          <th>ESTADO</th>
          <th class="text-center">ACCIONES</th>
        </tr>
      </thead>
      <tbody *ngIf="almacenDocumentos.length > 0; else emptyList">
        <tr *ngFor="let item of almacenDocumentos; let i=index">
          <!-- <tbody *ngIf="almacenDocumentos.length > 0; else emptyList">
        <tr *ngFor="let item of almacenDocumentos | paginate: { id: 'almacenArticuloPaginate',
        itemsPerPage: pagination.pageSize,
        currentPage: pagination.currentPage,
        totalItems: pagination.totalItems}"> -->
          <td style="width: 2rem;"> {{ (i+1) }} </td>
          <td class="lh-sm">
            <strong> {{item.conta_documento_serie}}-{{item.conta_documento_nombre}} ({{item.conta_documento_contador}})
            </strong>
          </td>
          <td class="lh-sm">
            {{item.tipo_operacion_nombre}}
          </td>
          <!-- <td>
            cruzjhonson@gmail.com
          </td> -->
          <td class="lh-sm">
            <span *ngIf="item.activo">
              <nb-icon status="success" icon="done-all-outline" class="small"></nb-icon> Activo
            </span>
            <span *ngIf="!item.activo">
              <nb-icon status="danger" icon="slash-outline" class="small"></nb-icon>Desactivo
            </span>
          </td>
          <td class="text-center">
            <button nbButton class="me-1" size="tiny" (click)="onUpdate(item)" nbTooltip="Editar">
              <nb-icon status="primary" icon="edit-outline"></nb-icon>
            </button>
            <button nbButton class="me-1" size="tiny" (click)="onEliminar(item)" nbTooltip="Eliminar">
              <nb-icon status="danger" icon="trash-outline"></nb-icon>
            </button>
          </td>
        </tr>


      </tbody>
      <!-- <tfoot>
        <tr>
          <td>Total: {{ pagination.totalItems }} </td>
          <td colspan="4" class="text-center">
            <pagination-controls class="lamb-pagination" id="almacenArticuloPaginate" (pageChange)="pageChanged($event)"
              (pageBoundsCorrection)="pageChanged($event)" [maxSize]="paginationControls.maxSize"
              [directionLinks]="paginationControls.directionLinks" [responsive]="paginationControls.responsive"
              previousLabel="ANTERIOR" nextLabel="SIGUIENTE" [autoHide]="paginationControls.autoHide"
              screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
              screenReaderCurrentLabel="Estás en la página">
            </pagination-controls>
          </td>
        </tr>
      </tfoot> -->
    </table>

    <ng-template #emptyList>
      <tbody>
        <tr>
          <td colspan="4" class="text-center label">
            No hay registros para mostrar
          </td>
        </tr>
      </tbody>
    </ng-template>


  </nb-card-body>
  <nb-card-footer class="text-end open-button-end">
    <!-- <button nbButton status="primary" size="small" (click)="onSave()" >
      <nb-icon icon="save-outline"></nb-icon>
      Guardar
    </button> -->
  </nb-card-footer>
</nb-card>